.aluraGeek__banner {
    display: flex;
    height: 12rem;
    padding: 1rem;
    justify-content: center;
    align-items: flex-center;
    gap: 1rem;
    align-self: stretch;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%),
        url(../img/banner.jpeg), lightgray 50%;
    background-size: cover;
    background-position: center;
}

.aluraGeek__banner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    width: 100%;
}

.aluraGee__banner-encabezado {
    color: #FFF;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aluraGeek__banner-parrafo {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aluraGeek__banner-boton {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--azul-100);
    color: #FFF;
}

@media screen and (min-width:768px) {
    .aluraGeek__banner {
        height: 22rem;
    }

    .aluraGeek__banner-container {
        gap: 1rem;
    }

    .aluraGee__banner-encabezado {
        font-size: 3.25rem;
    }

    .aluraGeek__banner-parrafo {
        font-size: 1.375rem;
        font-weight: 700;
    }
}

@media screen and (min-width:1440px) {
    .aluraGeek__banner {
        padding: 2rem;
    }

    .aluraGeek__banner-container {
        width: 71rem;
    }

    .aluraGee__banner-encabezado {
        font-size: 3.25rem;
    }

    .aluraGeek__banner-parrafo {
        font-size: 1.375rem;
        font-weight: 700;
    }
}