.aluraGeek__contacto {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    background: var(--azul-10);
}

.aluraGeek__contacto-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aluraGeek__contacto-enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.aluraGeek__contacto-enlaces-enlace {
    color: var(--fuente-texto);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 1rem;
}

.aluraGeek__contacto-formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.aluraGeek__contacto-formulario-encabezado {
    align-self: stretch;
    color: var(--fuente-texto);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aluraGeek__contacto-formulario-div-inputNombre {
    display: flex;
    padding: 0.5rem 0.75rem 0.4375rem 0.75rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0.25rem;
    background: #FFF;
    border-bottom: solid var(--preto-30) 0.0625rem;
    ;
}

.aluraGeek__contacto-formulario-div-inputNombre-label {
    color: var(--gris);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.aluraGeek__contacto-formulario-div-inputNombre-input {
    display: flex;
    align-items: center;
    align-self: stretch;
    border: none;
    outline: none;
}

.aluraGeek__contacto-formulario-div-inputMensaje {
    display: flex;
    padding: 0.5rem 0.75rem 0.4375rem 0.75rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0.25rem;
    background: #FFF;
    border-bottom: solid var(--preto-30) 0.0625rem;
}

.aluraGeek__contacto-formulario-div-inputMensaje-label {
    color: var(--gris);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.aluraGeek__contacto-formulario-div-inputMensaje-input {
    display: flex;
    align-items: center;
    align-self: stretch;
    border: none;
    outline: none;
}

.aluraGeek__contacto-formulario-boton {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--azul-100);
}

.aluraGeek__contacto-formulario-boton a {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (min-width:768px) {
    .aluraGeek__contacto {
        padding: 2rem;
        flex-direction: row;
        gap: 1rem;
        align-self: stretch;
    }

    .aluraGeek__contacto-box {
        display: flex;
        flex-direction: row;
        width: 71rem;
        align-items: flex-start;
        /*     gap: 7rem; */
    }

    .aluraGeek__contacto-izq {
        display: flex;
        width: 15.875rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .aluraGeek__contacto-enlaces {
        width: 15.875rem;
        align-items: flex-start;
    }

    .aluraGeek__contacto-formulario {
        gap: 0.5rem;
        flex: 1 0 0;
    }
}

@media screen and (min-width:1440px) {
    .aluraGeek__contacto {
        padding: 4rem;
        gap: 7.1875rem;
    }

    .aluraGeek__contacto-box {
        width: 71rem;
    }

    .aluraGeek__contacto-izq {
        display: flex;
        width: 30rem;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
}