.aluraGeek__productos {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.aluraGeek__productos-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.aluraGeek__productos-encabezado-titulo {
    color: var(--anchor);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aluraGeek__productos-encabezado-subtitulo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.aluraGeek__productos-encabezado-subtitulo-texto {
    color: var(--azul-100);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aluraGeek__productos-encabezado-subtitulo-icono {
    width: 1rem;
    height: 1rem;
}

@media screen and (min-width:768px) {
    .aluraGeek__productos {
        padding: 2rem;
    }

    .aluraGeek__productos-encabezado-subtitulo {
        gap: 0.5rem;
    }
}

@media screen and (min-width:1440px) {
    .aluraGeek__productos-container {
        display: flex;
        justify-content: center;
    }

    .aluraGeek__productos-categoria-grupo {
        width: 71rem;
    }
}