.aluraGeek__productos-listaDeProductos-producto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 9.75rem;
}

.aluraGeek__productos-listaDeProductos-producto-img {
    display: flex;
    height: 10.875rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    background: #FFF;
    width: 100%;
}

.aluraGeek__productos-listaDeProductos-producto-img-img {
    flex: 1 0 0;
    align-self: stretch;
    background: lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.aluraGeek__productos-listaDeProductos-producto-item {
    align-self: stretch;
    color: var(--fuente-texto);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.aluraGeek__productos-listaDeProductos-producto-precio {
    align-self: stretch;
    color: var(--anchor);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aluraGeek__productos-listaDeProductos-producto-enlace {
    color: var(--azul-100);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (min-width:768px) {
    .aluraGeek__productos-listaDeProductos-producto {
        width: 10.25rem;
    }
}

@media screen and (min-width:1440px) {
    .aluraGeek__productos-listaDeProductos-producto {
        width: 11rem;
    }
}