.aluraGeek__productos-listaDeProductos {
    display: flex;
    gap: 1.5rem;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

@media screen and (min-width:768px) {
    .aluraGeek__productos-listaDeProductos {
        display: flex;
        gap: 1rem;
        align-self: stretch;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 2rem;
    }
}

@media screen and (min-width:1440px) {
    .aluraGeek__productos-listaDeProductos {
        display: flex;
        gap: 2rem;
        align-self: stretch;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 2rem;
    }
}